$hamburger-types: (slider) !default;
$hamburger-layer-color: #34a9ff !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-width: 30px !default;
$hamburger-layer-spacing: 10px !default;
$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;